[Unit]
Description=TCPdump Service
After=singbox.service

[Service]
Type=exec
ExecStartPre=/bin/rm -f /var/log/tcpdump/packets.cap
ExecStart=/bin/tcpdump -w /var/log/tcpdump/packets.cap 'tcp and not (port 443 or port 22)'
Restart=always

[Install]
WantedBy=multi-user.target
